body {
  margin: 0;
  font-family: Arial;
  background: #0b1020;
  color: white;
}

/* TOP */
.topbar {
  height: 50px;
  background: #111827;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.title {
  font-weight: bold;
}

/* MAIN */
.main {
  display: grid;
  grid-template-columns: 220px 1fr 280px;
  height: calc(100vh - 50px);
}

/* LEFT */
.left {
  background: #111827;
  padding: 10px;
  overflow-y: auto;
}

.fileItem {
  padding: 6px;
  border-bottom: 1px solid #333;
}

/* CENTER */
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0f172a;
}

/* RIGHT */
.right {
  background: #111827;
  padding: 10px;
  overflow-y: auto;
}

/* POPUP */
.popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupBox {
  width: 400px;
  background: #111827;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #333;
}